body {
    height: 4000px;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.title {
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: rgb(176, 176, 248);
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.column {
    width: calc(33.33% - 20px);
    /* 33.33% to create three equal columns, minus padding */
   height: 430px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    overflow-x: hidden;
    background-color: lavender;
    box-sizing: border-box;
   
    /* Include padding in width calculation */
}

.column>form {
    width: 100%;
    flex-direction: column;
    display: flex;
}

.column>form>h2 {
    text-align: center;
    color: rgb(0, 0, 0);
}

.column>form>label {
    margin-top: 10px;
    color: rgb(61, 61, 68);
    font-weight: bold;
}

.column>form>input {
    margin-top: 10px;
    height: 25px;
    border: none;
    outline: none;
}

.column>form>input:focus {
    outline: none;
}

.column>form>div {
    margin-top: 10px;
    color: rgb(61, 61, 68);
    font-weight: bold;
}

.column>form>button {
    margin-top: 30px;
    height: 40px;
    border: none;
    font-size: 14px;
    background-color: rgb(176, 176, 248);
}

.column>form>button>span {
    font-weight: bold;
}

.containerSecondColumn {
    display: flex;
    margin: 40px;
    flex-direction: column;
}
.containerSecondColumn .card{
    background-color: lavender;
    width: 32%;
}
.secondColumn {
    background-color: rgb(176, 176, 248);
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    height: 50px;
    width: 33%;
}

.secondColumn>input {
    outline: none;
    width: 80%;
    height: 30px;
    margin-top: 10px;
    border: none;
}

.fa-solid {
    margin-left: 10px;
    margin-top: 10px;
}

.second {
    margin-left: 20px;
    background-color: lavender;
    height: 300px;
    /* Contwoh tinggi yang lebih besar */
    width: 80%;
    /* Contoh lebar yang lebih besar */
}
.second{
    justify-content: center;
    align-items: center;
    display: flex;
    
    background-color: rgb(255, 192, 192);
}
.column2 {
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    background-color: white;    
}

.card {
    margin-top: 15px;
    justify-content: center;
    padding: 5px;
    width: 80%;
    background-color: rgb(254, 192, 192);
    border-radius: 10px;

}
.column3 > .card{
    background-color: aqua;
}
.undone{
    background-color: #ff3e3e;
    width: 100px;
    color: white;
}
.done{
    background-color: aqua;
    width: 100px;
}
.card>p {
    margin: 5px;
   
}
.card>h4{
    margin: 5px;
}

@media screen and (max-width: 768px) {
    .column {
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
        margin: 10px auto;
    }
}